<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <appSettings>
    <add key="twilioAccountSid" value="AC6633ddfc9ab54af3323ac08029b31865" />
    <add key="twilioAuthToken" value="57a8406dd6762ac3e781ddf000915e75" />
    <add key="twilioPhoneNumber" value="+14842184135" />
    <add key="sendgridApiKey" value="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" />
  </appSettings>
  <connectionStrings>
    <add name="AzureDb" providerName="System.Data.SqlClient" connectionString="Server=tcp:oop.database.windows.net,1433;Initial Catalog=oop2g;Persist Security Info=False;User ID=SpaceCowboy;Password=Space420;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>